@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

#space{
    height: 250px;
}

.left-main{
    width:50%;
    background-color: rgb(255, 255, 255);
    float:right;
}

.right-main{ 
    width:50%;
    height:770px;
    background-color: rgb(159, 184, 148);
    /*background-image: url('https://i.redd.it/y9ih2d9mmuuz.jpg');*/
    background-position: center;
    float:left;
    position: fixed;
    border-radius:10px;
    

}
.navbar-main{
    display: inline;
    position: relative;
    padding-left: 30px;
    margin-left:0;
}

.Navbar-right{
    text-decoration: none;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    transition: all .5s ease-in;
    justify-content:left;
    color: black;
    font-size: 22px;
    
   

}

.Navbar-right:hover{ 
    border-color: rgb(159, 184, 148);
    color:rgb(159, 184, 148);
    
    
}

.Navbar-left{
    text-decoration: none;
    justify-content:left;
    color: black;
    font-size: 22px;

}

#image-of-me{
    border-radius: 200px;
    height:30%;
    width:30%;
}

#div-image-of-me{
    justify-content: center;
    display: flex;
    padding: 35% 0 28% 0;

}

#about-div, #work-div, #edu-div, #skills-div, #hobbies-div{
    padding-right: 10%;
    padding-left: 10%;
    font-family: 'Lobster Two', cursive;
}


p{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    
}

span{
    font-weight: normal;
    font-size:14px;
    
}

h1{
    font-size:70px;
}

h2{
    font-size:50px;
}
h3{
    font-size:50px;
    border-top:3px dotted;
}

#img-right{
    width:7%;
    height:7%;
    padding-right: 10px;  

}


#navbar-img-left{
    width:4%;
    height:4%;
    border-bottom: 4px solid transparent;
    transition: all .3s ease-in;
}

#navbar-img-left:hover{
    border-color: black;
}


#hobby-div-left, #about-div-left{
    float:left;
    width:50%;
}

#hobby-div-right, #about-div-right{
    float:right;
    width:50%;
}

#img-right-hobbies {
    width:7%;
    height:7%;
}

#copyright{ 
    font-size: 8px;
    text-align: center;
}



#index1{
    width:45%;
    float:left;
    margin:0 20px 30px 0
}

#index2 {
    width:45%;
    float:right;
    
}


@media all and (max-width:548px){
    .Navbar-right{
        justify-content:left;
        color: black;
        font-size: 24px;
        
    }
    p{
        font-weight: bold;
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        
    }
    
    span{
        font-weight: normal;
        font-size:10px;
        
    }
    
    h1{
        font-size:40px;
    }
    
    h2{
        font-size:20px;
    }
    #img-right-hobbies {
        width:12%;
        height:12%;
    }
    #img-right{
        width:12%;
        height:12%;
        padding-right: 10px;  
    
    }
    #navbar-img-left{
        width:10%;
        height:10%;
    }
    #image-of-me{
        border-radius: 200px;
        height:50%;
        width:50%;
    }
    
    #div-image-of-me{

        padding: 75% 0 110% 0;
    
    }
    #index1{
        width:100%;
        float:none;
    }
    
    #index2 {
        width:100%;
        float:none;
        
        
    }
    .right-main{  
        height:680px;
    }

}
@media all and (min-width:549px) and (max-width:888px){
    .right-main{  
        height:680px;
    }
    #div-image-of-me{
        padding: 50% 0 50% 0;
    }
    #navbar-img-left{
        width:8%;
        height:8%;
        padding-left: 40px;
    }
    #img-right-hobbies {
        width:12%;
        height:12%;
    }
    #img-right{
        width:12%;
        height:12%;
        padding-right: 10px;  
    
    }

}